@import "tailwindcss";

:root {
  color-scheme: light;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: #f9fafb;
  color: #111827;
}

/* Force inputs to always render in light mode */
input, select, textarea, button {
  color-scheme: light;
}
